/*--variable button--*/
/* Animation */
* {
  margin: 0;
  padding: 0; }

ul, ol {
  list-style: none; }

article, aside, details, figcaption, figure,
footer, header, hgroup, nav, section {
  display: block; }

html {
  font-size: 62.5%; }

body {
  font-family: Roboto;
  font-size: 14px;
  line-height: 1.5em;
  color: #666; }

h1, h2, h3, h4, h5, h6 {
  color: #000;
  margin-bottom: 10px;
  line-height: 1; }

h1 {
  font-size: 32px;
  margin-bottom: 0; }

h2 {
  font-size: 24px; }

h3 {
  font-size: 18px; }

h4 {
  font-size: 16px; }

h5 {
  font-size: 14px; }

h6 {
  font-size: 13px; }

.container {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
  font-size: 1.4rem; }

.row {
  padding: 0 10px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -o-box-sizing: border-box;
  box-sizing: border-box; }

img {
  max-width: 100%; }

a {
  color: inherit;
  text-decoration: inherit; }

.box-wrap {
  overflow: auto;
  background-color: #fff; }

header {
  height: 70px;
  background-color: #2980b9;
  border: 1px solid #2376ae;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-align-items: center;
  -moz-align-items: center;
  -ms-align-items: center;
  align-items: center; }
  header .wraper-header {
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-justify-content: space-between;
    -moz-justify-content: space-between;
    -ms-justify-content: space-between;
    justify-content: space-between;
    -ms-flex-pack: space-between; }
    header .wraper-header .logo {
      color: #fff;
      font-size: 25px; }
    header .wraper-header .form-user {
      display: -webkit-box;
      display: -moz-box;
      display: -ms-flexbox;
      display: -webkit-flex;
      display: flex;
      -webkit-align-items: center;
      -moz-align-items: center;
      -ms-align-items: center;
      align-items: center; }
      header .wraper-header .form-user li {
        color: #fff;
        margin-left: 5px; }

.wraper-nav {
  margin-bottom: 20px; }
  .wraper-nav .lists {
    display: flex;
    flex-wrap: wrap;
    margin-left: -10px; }
    .wraper-nav .lists .item {
      flex: 1 0 200px;
      margin-left: 10px;
      margin-top: 10px; }
      @media (min-width: 420px) {
        .wraper-nav .lists .item {
          max-width: calc(50% - 10px); } }
      @media (min-width: 400px) {
        .wraper-nav .lists .item {
          min-width: calc(50% - 10px); } }
  .wraper-nav .lists .item {
    background-color: #e0ddd5;
    color: #171e42;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -o-box-sizing: border-box;
    box-sizing: border-box;
    padding: 10px; }

.other .lists {
  display: flex;
  flex-wrap: wrap;
  margin-left: -10px; }
  .other .lists .item {
    flex: 1 0 100px;
    margin-left: 10px;
    margin-top: 10px; }
    @media (min-width: 220px) {
      .other .lists .item {
        max-width: calc(50% - 10px); } }
    @media (min-width: 330px) {
      .other .lists .item {
        max-width: calc(33.3333333333% - 10px); } }
    @media (min-width: 440px) {
      .other .lists .item {
        max-width: calc(25% - 10px); } }
    @media (min-width: 550px) {
      .other .lists .item {
        max-width: calc(20% - 10px); } }
    @media (min-width: 660px) {
      .other .lists .item {
        max-width: calc(16.6666666667% - 10px); } }
    @media (min-width: 770px) {
      .other .lists .item {
        max-width: calc(14.2857142857% - 10px); } }
    @media (min-width: 880px) {
      .other .lists .item {
        max-width: calc(12.5% - 10px); } }
    @media (min-width: 800px) {
      .other .lists .item {
        min-width: calc(12.5% - 10px); } }

@media (min-width: 750px) {
  html {
    font-size: 70%; }

  .wraper {
    background: #fff url(../images/bg.jpg) repeat;
    background-size: content;
    padding: 20px 0; }

  .container {
    font-size: 1.5rem; }

  .row {
    padding: 0 20px; }

  .box-wrap {
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    border-radius: 10px;
    -webkit-box-shadow: 0 0 8px #999;
    -moz-box-shadow: 0 0 8px #999;
    -o-box-shadow: 0 0 8px #999; } }

/*# sourceMappingURL=style.css.map */
