$color-blue:#2980b9;
$color-second:#b15ea4;

$color-nav:#3498db;
$color-nav-hover:#2980b9;
$color-border-header:#2376ae;

/*--variable button--*/
$color-btn-default:#ffffff;
$color-border-default:#cccccc;
$color-btn-default-hover:#e6e6e6;
$color-border-default-hover:#adadad;

$color-btn-primary:#337ab7;
$color-border-primary:#2e6da4;
$color-btn-primary-hover:#286090;
$color-border-primary-hover:#204d74;

$color-btn-success:#5cb85c;
$color-border-success:#4cae4c;
$color-btn-success-hover:#449d44;
$color-border-success-hover:#398439;

$color-btn-info:#5bc0de;
$color-border-info:#46b8da;
$color-btn-info-hover:#31b0d5;
$color-border-info-hover:#269abc;
